<header class="header">
  <div class="container">
    <div class="logo">
      <h1>❤️</h1>
    </div>
    <nav class="nav">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a routerLink="/productos" routerLinkActive="active">Productos</a>
      <a routerLink="/menu" routerLinkActive="active">Menu</a>
      <a routerLink="/galeria" routerLinkActive="active">Cobertura</a>
      <a routerLink="/nosotros" routerLinkActive="active">Acerca de</a>
      <a routerLink="/contact" routerLinkActive="active">Contacto</a>
    </nav>
  </div>
</header>